services:
  # Serviço do banco de dados PostgreSQL
  db:
    image: postgres:16-alpine # Usamos a imagem oficial do Postgres, versão 16 "alpine" (leve)
    container_name: sghm_postgres_db
    restart: always
    environment:
      # Define as credenciais para o banco de dados
      # Em produção, isso deve ser gerenciado por "secrets" ou arquivo .env
      POSTGRES_DB: sghm_db
      POSTGRES_USER: sghm_user
      POSTGRES_PASSWORD: sghm_pass
    ports:
      # Mapeia a porta 5432 do container para a porta 5432 da sua máquina (localhost)
      # Formato: <porta-host>:<porta-container>
      - "5432:5432"
    volumes:
      # Cria um "volume" para persistir os dados do banco
      # Se o container for destruído, os dados em 'pgdata' serão mantidos
      - pgdata:/var/lib/postgresql/data

volumes:
  # Define o volume nomeado que será usado acima
  pgdata:

